@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column; /* This makes items stack vertically */
    align-items: center; /* This centers the button horizontally */
}
form > div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    fill: var(--text-color);
    color: var(--text-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 150ms ease;
}

form input {
    color: var(--text-color);
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    width: 750px;
    padding: 0 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--primary-color-light);
    border-left: none;
    background-color: var(--primary-color-light);
}

form input:hover, form select:hover {
    border-color: var(--primary-color);
}

form input:focus, form select:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label, div:has(select:focus) > label {
    background-color: var(--text-color);
}

form input::placeholder {
    color: var(--text-color);
}

.btn-primary {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--primary-color);
    color: var(--base-color-register);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--text-color);
}

.btn-primary:focus {
    outline: none;
    background-color: var(--text-color);
}