{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="https://m.media-amazon.com/images/I/71D3K29BgWL._AC_UY1000_.jpg"
                     alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">CollegeHub</span>
                <span class="profession">Student</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
                <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>


{% include "static/html/toast.html" %}
{% block content %}
    <!-- Main content goes here -->
{% endblock %}


<script src="{% static 'js/sidebar.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
