{% extends 'static/html/base.html' %}
{% load static %}
{% block title %}Post a Review{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/review.css' %}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
{% include "static/html/toast.html" %}
<div class="wrapper">
    <h3>Post a Review!</h3>
    <form method="POST" action="#">
        {% csrf_token %}
        <div class="company-section">
            <label for="company">Company</label>
            <input type="text" name="company" id="company" placeholder="Company name...">
        </div>
        <div class="rating">
            <input type="number" name="rating" hidden>
            <i class='bx bx-star star' style="--i: 0;"></i>
            <i class='bx bx-star star' style="--i: 1;"></i>
            <i class='bx bx-star star' style="--i: 2;"></i>
            <i class='bx bx-star star' style="--i: 3;"></i>
            <i class='bx bx-star star' style="--i: 4;"></i>
        </div>
        <textarea name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea>
        <div class="btn-group">
            <button type="submit" class="btn submit">Submit</button>
            <button type="button" class="btn cancel">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/review-star.js' %}" defer></script>
{% endblock %}